*{
    font-family: 'Krona One', sans-serif;
}


/**{
    text-align: center;
}*/


body{
    margin-right: 20%;
    margin-left: 20%;
    text-align:justify;
}

footer{
    text-align: center;
    
}